H1{
    text-align: center;
    color: red;
}
H2{
    text-align: center;
    color: red;
}
p{
    text-align: center;
    color: red;
}
H1,H2,p{
    text-align: center;
    color: red;
}
*{
    text-align: center;
    color: yellow;
}